.table-wrapper { 
	overflow-x:scroll;
	overflow-y:visible;
	width:66.66666667%;
}

.table-fixed table{
	table-layout: fixed;
}

.tableBorang{
	border-collapse: collapse;
	border: 1px solid gray;
}

.tableBorang td{
	border: 1px solid gray;
	padding: 0.5%;
	text-align: center;
}

.tableBorang th{
	border: 1px solid gray;
	background-color: #D2D7D3;
	padding: 0.5%;
	text-align: center;
}

.tableNilai th{
	text-align: center;
}

.tableNilai th:nth-child(1){
    width: 13%;
}

.tableNilai th:nth-child(2){
    width: 75%;
}

.tableNilai th:nth-child(3){
    width: 12%;
}

.tableNilai tr:last-child td:last-child{
    background-color: #2ecc71;
}

.tableHasil{
	border-collapse: collapse;
	border: 1px solid black;
}
.tableHasil td{
	border: 1px solid black;
	padding: 0.5%;
	text-align: center;
}
.tableHasil th{
	border: 1px solid black;
	background-color: #D2D7D3;
	padding: 0.5%;
	text-align: center;
}

.voidColor{
	background-color: gray;
}

.goodColor{
	background-color: #27AE60;
}

.warningColor{
	background-color: #F1C40F;
}

.dangerColor{
	background-color: #D35400;
}

.badColor{
	background-color:#C0392B;
}

.fixed-button{
	padding-bottom:3%;
	left:93%;
	top: 92%;
	position:fixed;
}

.login-box{
	box-shadow: 2px 2px 2px 2px #888888; 
	padding:3%;
	background-color:#ecf0f1;
}